html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a:focus {
	outline: none;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* basic */
body {font-family: 'Oswald', sans-serif;}
.wrapper {width: 750px; margin: 0 auto; background: #e8e8e8; padding: 15px;}
.canvas {background: #dddddd; padding: 36px 15px 5px; position: relative; margin-bottom: 40px;}
.canvas-layer {position: relative; padding-top: 70px; margin-bottom: 30px;}

.graph-grid {background: #d3d3d3; z-index: 5;}
/*.graph-grid:first-child {background: black;}*/
.point-line {position: absolute; width: 100%; height: 1px; left: 0;}
.quarter-line {position: absolute; height: 100%; top: 0; width: 1px;}
.quarter-0 {left: 14px;}
.quarter-1 {left: 194px;}
.quarter-2 {left: 374px;}
.quarter-3 {left: 554px;}
.quarter-4 {left: 734px;}
.legend {position: absolute; z-index: 1000; top: 0px; left: 0px; background: white; padding: 5px 0; width: 100%;}
.team-label {vertical-align: middle; font-size: 1em; display: inline-block; position: relative;}
.home-label {border-right: 1px solid #d6d6d6; padding: 0 10px 0 5px; margin-right: 10px;}
.team-color {width: 20px; height: 20px; border-radius: 10px; display: inline-block; vertical-align: middle; margin-right: 5px;}

.minute {width: 15px; position: absolute; bottom: 0; height: 100%; z-index: 10;}
.minute.active {background: rgba(253, 240, 192, .5); z-index: 11;}
.minute.selected {background: rgba(255, 151, 151, 0.5); z-index: 11;}
.minute.selected .count {display: block !important; z-index: 20;}
.time {width: 15px; position: absolute; bottom: -18px; left: 0; text-align: center; font-size: 10px; font-weight: bold;}
.count {position: absolute; width: 35px; left: -10px; top: 30px; text-align: center; z-index: 15; box-shadow: 1px 1px 5px rgba(0,0,0,.5); border-radius: 5px;}
.home-count {border-radius: 5px 5px 0 0;}
.away-count {border-radius: 0 0 5px 5px;}
.number {position: absolute; left: -18px; width: 15px; top: -7px; font-weight: bold; font-size: 10px; text-align: right;}
.point {width: 12px; height: 12px; position: absolute; left: 1px; background: #ffa500; border-radius: 6px;}
.player-point { box-sizing:border-box; border: 2px solid black; z-index: 2; background: transparent;}

.scorebox {position: absolute; height: 100%; background: rgba(255, 151, 151, 0.5); top: 0; z-index: 10;}
.scorebox .count {top: 80px; left: 0; position: relative; margin: 0 auto; z-index: 20;}

.option {margin-bottom: .5em; padding-bottom: .5em; border-bottom: 1px solid #bbbbbb; font-size: .75em;}
.label {display: inline-block; width: 110px; vertical-align: top;}
.cw-box {position: absolute; top: 29px; left: 0; box-shadow: 1px 2px 10px rgba(0,0,0,.3); background: white;}
