/**
 * @license
 * MyFonts Webfont Build ID 2985349, 2015-03-05T10:38:11-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: FuturaBT-Book by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/futura/book/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * Licensed pageviews: 10,000
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2985349
 *
 * © 2015 MyFonts Inc
*/


@font-face {font-family: 'FuturaBT-Book';src: url('../fonts/2D8D85_0_0.eot');src: url('../fonts/2D8D85_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2D8D85_0_0.woff2') format('woff2'),url('../fonts/2D8D85_0_0.woff') format('woff'),url('../fonts/2D8D85_0_0.ttf') format('truetype');}
@font-face {font-family: 'GaramondURW-RegObl';src: url('../fonts/2D8DCA_0_0.eot');src: url('../fonts/2D8DCA_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2D8DCA_0_0.woff2') format('woff2'),url('../fonts/2D8DCA_0_0.woff') format('woff'),url('../fonts/2D8DCA_0_0.ttf') format('truetype');}
@font-face {font-family: 'GaramondURW-Bol';src: url('../fonts/2D8DCA_1_0.eot');src: url('../fonts/2D8DCA_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2D8DCA_1_0.woff2') format('woff2'),url('../fonts/2D8DCA_1_0.woff') format('woff'),url('../fonts/2D8DCA_1_0.ttf') format('truetype');}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a:focus {
	outline: none;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* clearfix */
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix { display: inline-block; }
.clearfix { display: block; }

/* basic layout */
.body,html {height: 100%; font-size: 100%; font-family: "EB Garamond", serif; color: black; min-width: 300px;}
.page-wrapper {width: 100%;}
.element-inner {max-width: 60em; margin: 0 auto;}
.element-inner-2 {padding: 0 2em;}
.page-header-wrapper {background: black url(../images/header-bg.jpg); background-size: cover; position: fixed; width: 100%; z-index: 100; box-shadow: 0 0 10px rgba(0,0,0,.7);}
.page-header {}
/* logo */
.page-logo-link {padding: 8px; display: inline-block;}
.page-logo-img {display: block;}
/* footer */
.page-footer-wrapper {background: black url(../images/footer-bg.jpg); background-size: cover; padding: 1.5em 0;}
.contact-list {color: white; letter-spacing: -.5em; font-family: "FuturaBT-Book", sans-serif; float: left; white-space: nowrap;}
.contact {display: inline-block; letter-spacing: normal;}
.contact + .contact {border-left: 1px solid white; margin-left: .5em; padding-left: .5em;}
/* globally used general stuff */
.slates-text:before {content: ""; width: 120px; height: 28px; display: inline-block; background: transparent url(../images/slates-text.png) no-repeat 0 0;}
/* sections */
.page-main {/* need to fix padding */padding-top: 78px;}
.page-section {border-top: 1px solid black; border-bottom: 10px solid white; padding: 1em 0;}
.page-section header {line-height: 1; padding-bottom: 1em;}
.page-section h1 {font-size: 3.0625em; font-family: "FuturaBT-Book", sans-serif;}
.page-section h2 {font-size: 3.625em; font-family: "GaramondURW-RegObl", serif; opacity: .5;}
.page-section strong {font-family: "GaramondURW-Bol", serif;}
.page-section i {font-style: italic;}
.page-section em {color: #a31633;}
.page-section p {line-height: 1.15; font-size: 1.25em;}
.page-section p + p {padding-top: 1em;}
.page-section img {display: block; max-width: 100%; width: auto; height: auto;}
/* video section */
.section-video {max-height: 550px; overflow: hidden; padding: 0;}
.video-loop {width: 100%; height: auto; display: block;}
/* intro section */
.section-intro {letter-spacing: -.5em;}
.section-intro h2 {text-align: right;}
.intro-art, .intro-content {display: inline-block; letter-spacing: normal; vertical-align: top;}
.intro-art {width: 30%; margin-right: 5%; padding-left: 5%; }
.intro-content {display: inline-block; width: 60%;}
.intro-content p {width: 75%;}
/* services section */
.section-services {letter-spacing: -.5em;}
.section-services .element-inner {position: relative; width: 100%; overflow: hidden;}
.services-main {background: white;}
.section-services header {position: relative}
.section-services h1 {color: white; position: absolute; bottom: 100%;}
.section-services h2 {opacity: 1; text-align: right;}
.services-content, .services-video, .services-private {display: inline-block; vertical-align: top; letter-spacing: normal; position: relative;}
.services-video {width: 24%; padding: 15px 0 15px 1%; vertical-align: middle; z-index: 5;}
.services-video .services-img {max-width: 75%;}
.services-img + .services-img {padding-left: 25%; margin-top: -15%;}
.services-link {font-family: "FuturaBT-Book", sans-serif; color: white; padding: .3em 1em; text-decoration: none; position: absolute; white-space: nowrap; font-size: 100%; font-size: .9em;}
.services-link-title {font-size: 1.2em; display: block;}
.services-video-link {background: black; bottom: 30px; left: 35%;}
.services-content {width: 53%; padding: 0 1% 2em; margin-bottom: 1em;}
.services-content:after {position: absolute; content: ""; width: 65%; height: 1px; background: black; bottom: 0; left: 17.5%;}
.services-private {width: 19%; vertical-align: middle; padding-right: 1%;}
.services-private-link {background: #a31633;}
.services-popup { width: 100%; top: 0; position: absolute; z-index: 10;}
.popup-back {display: block; color: white; text-transform: uppercase; letter-spacing: normal; font-family: "FuturaBT-Book", sans-serif; padding: 1em 40px 2em; margin: 0 2em; cursor: pointer; background: transparent url(../images/arrow_left.png) no-repeat 0 .8em;}
.popup-back-right {text-align: right; background-position: 100% .8em; background-image: url(../images/arrow_right.png);}
.popup-private {background: #a31633; left: 60em;}
.popup-private header {letter-spacing: normal; width: 50%; margin-left: 40%;}
.popup-private h1 {color: black;}
.popup-private-image, .popup-private-content {display: inline-block; letter-spacing: normal;}
.popup-private-image {width: 35%; padding: 0 2.5%; vertical-align: middle;}
.popup-private-content {width: 55%; position: relative; padding: 1em 0 4em; margin-bottom: 2em;}
.popup-private-content:after {position: absolute; content: ""; width: 65%; height: 1px; background: black; bottom: 0; left: 17.5%;}
.popup-video {background: black; letter-spacing: normal; padding: 2em 0 0; left: -60em;}
.popup-video header {margin: 0 8%;}
.popup-video h1 {position: static;}
.popup-video h2 {color: white; text-align: left; padding-left: 10%;}
.popup-video-embed {padding-bottom: 56.25%; height: 0; position: relative; margin: 0 8% 8em;}
.popup-video-youtube {width: 100%; height: 100%; position: absolute;}
/* locations section */
.section-locations {background: transparent url(../images/slates-bg.jpg) 0 0; padding: 1em 2em 2em; max-width: 56em;}
.section-locations h1, .section-locations h2 {color: white;}
.section-locations h2 {text-align: right; opacity: .7;}
.locations-images {margin-bottom: 2em;}
.locations-img {float: left; width: 32%;}
.locations-img + .locations-img {margin-left: 2%;}
.locations-options {background: #87b9e3; padding: 1em 2em 2em;}
.locations-options .slates-text {max-width: 30em; margin-bottom: 1em;}
.locations-icon {display: inline-block; vertical-align: bottom; width: 20%;}
.locations-search {display: inline-block; width: 75%;}
/* logos sections */
.section-logos {padding: 1em 2em 2em; max-width: 56em; border-top: 0;}
.section-logos h1 {color: #a31633;}
.section-logos h2 {padding-left: 10%;}
.section-clients h2 {padding-left: 25%;}
.logo-queue {border-bottom: 1px solid black; text-align: center;}
.logo-queue img {margin: 1em 0 1em 3em; display: inline-block; vertical-align: middle;}
.section-clients h1, .section-clients h2 {text-align: center;}
.section-clients .logo-queue {border-top: 1px solid black;}
.section-partners {padding-top: 0;}
/* contact */
.section-contact {background: transparent url(../images/slates-bg.jpg) 0 0; border-bottom: 0; padding: 1em 2em 2em; max-width: 56em;}
.contact-card {background: #a31633 url(../images/s_contact.png) no-repeat 0 0; background-size: contain; padding: 15em 0 5em 50%; margin-bottom: 1.5em;}
.contact-card p + p {padding-top: 0;}
.contact-card span {color: white; display: inline-block; width: 4em;}
.contact-form {background: #96c0e8; padding: .5em 2em; margin-bottom: 1.5em}
.contact-form form {letter-spacing: -.5em;}
.form-contact, .form-message {display: inline-block; letter-spacing: normal; width: 45%; vertical-align: top;}
.form-contact {margin-right: 10%;}
.form-send {text-align: right; letter-spacing: normal;}
.form-button {color: white; font-family: "FuturaBT-Book", sans-serif; background: black; border: 0; font-size: 1.2em; padding: .3em 1em; cursor: pointer;}
.form-line {margin: .5em 0;}
.form-label {display: block; font-size: 1.25em; cursor: pointer;}
.form-text {display: block; padding: .1em 3%; width: 94%; font-size: 1.25em; border: 0; font-family: "EB Garamond", serif;}
.form-textarea {height: 7.7em;}
.contact-map {background: white;}
/* impressum */
.section-impressum {background: #a31633; color: white; padding: 1em 2em 2em; max-width: 56em; border-top: 0; border-bottom: 0;}
.impressum-info {display: inline-block; width: 40%; margin-right: 5%; vertical-align: middle;}
.impressum-img {display: inline-block; width: 50%; vertical-align: middle;}

/* responsive */
@media (max-width: 900px) {

.body {font-size: 87%;}
}

@media (max-width: 800px) {

.body {font-size: 83%;}
}

/* common for navigation */
.main-nav {font-family: "FuturaBT-Book", sans-serif;}
.menu-link {color: white; letter-spacing: .05em; text-decoration: none; text-transform: uppercase;}
.menu-facebook, .menu-twitter {text-indent: -9999px; background-repeat: no-repeat; background-position: 0 100%; float: left;}
.menu-facebook {width: 7px; height: 14px; background-image: url(../images/icon-facebook.png);}
.menu-twitter {width: 17px; height: 14px; background-image: url(../images/icon-twitter.png);}

@media (max-width: 768px) {
/* mobile navigation */
.social-menu {float: right; margin-right: 2em;}
.page-header .social-menu {display: none;}
.social-menu .menu-item {margin-right: 0; margin-left: .5em; float: left; border-top: 0 !important;}
.menu-facebook, .menu-twitter {min-width: 44px; min-height: 44px; background-position: 50% 50%;}

.page-header {text-align: center; position: relative;}
.page-logo {display: inline-block;}
.nav-link {position: absolute; width: 82px; height: 82px; top: 0; left: 0; background: rgba(0,0,0,.55);}
.nav-icon {background: transparent url(../images/icon-menu.svg) no-repeat 50% 50%; background-size: cover; width: 32px; height: 32px; position: absolute; top: 50%; left: 50%; margin-top: -16px; margin-left: -16px;}
.no-svg .nav-icon {background-image: url(../images/icon-menu.png);}
.main-menu {min-width: 15em; background: rgba(0,0,0,.85); position: absolute; top: 0; left: 0; padding: 0 1em; text-align: left;}
.mobile-menu {display: none;}
.no-rgba .main-menu {background: black;}
.menu-item + .menu-item {border-top: 1px solid white;}
.menu-link {font-size: 1.2em; display: block; padding: 1em 0;}
.page-footer .menu-link {padding: 0;}
.menu-link:hover, .menu-active {color: #931f36;}

.intro-art,
.services-video, .services-private,
.popup-private-image {display: none;}
.intro-content,
.services-content,
.popup-private-content,
.popup-private header {display: block; margin-left: auto; margin-right: auto; width: 70%;}

.locations-img {width: 48%;}
.locations-img + .locations-img {margin-left: 4%;}
.locations-last,
.locations-icon {display: none}
.locations-options {margin: 0 -2em;}
.locations-search,
.locations-options .slates-text {width: 100%; max-width: 100%;}
.contact-button {background: #a31633; color: white; font-family: "FuturaBT-Book", sans-serif; padding: .3em 1em; text-decoration: none; position: relative; top: .7em; }

.page-section h1 {font-size: 3em;}
.page-section h2 {font-size: 2.5em;}

.menu-active {display: none !important;}
.current-section .menu-link {color: #a31633;}

.services-link {position: static; display: inline-block; white-space: normal;}
}

@media (max-width: 360px) {
.page-header {text-align: right;}
}

@media (min-width: 769px) {
.page-logo {float: left;}
/* normal navigation */
.main-nav {float: right;}
.main-menu, .social-menu {float: left;}
.menu-item {float: left; padding: 0 1em;}
.page-footer .social-menu {display: none;}
.menu-link {float: left; padding-top: 35px;}
.menu-active {height: 7px; width: 0; background: #931f36; position: absolute; left: 0; top: 0; opacity: 0;}
.mobile-menu {position: relative;}
.locations-contact {display: none;}
.services-content .services-link {display: none;}
}

/* show some images over the whole window, similar to video */
@media ( min-width: 961px ) {
.section-services {padding-top: 25em; background: black url(../../files/image/slates_dish_0219.jpg) no-repeat 50% 50%; background-size: cover;}
img.full-img {display: none;}
.services-main {margin-top: 3.0625em;}
}

@media (max-width: 600px) {}

.contact {display: block; line-height: 1.4;}
.contact + .contact {padding: 0; margin: 0; border: 0;}
.impressum-info {width: 100%;}
.impressum-img {display: none;}
.form-contact, .form-message {display: block; width: 100%;}
.contact-card {padding-top: 10em; padding-bottom: 4em;}
.intro-content p {width: 100%;}
}

@media (max-width: 500px) {
.contact-card {padding-top: 5em;}
}

@media (max-width: 420px) {
.contact-card {padding: 2em; background-image: none;}
.social-menu {margin-right: 0;}
.social-menu .menu-item {margin-left: 0;}
}
